*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
    max-width: 1200px;
    /* margin-right: 60px; */
    /* margin: 50px auto; */
}
.flex{
    display: flex;
    flex-direction: row;
}
.container{
    justify-content: space-between;
    margin: 40px auto;
    width: 1200px;
}
.navbar-li{
   justify-content: space-around;
   align-items: center;
}
li{
    justify-content: space-around;
    margin-right: 60px;
    font-size: 20px;
    font-family: ArchyEDT-Bold;
    color: #707070;
}
.search{
    height: 25px;
    width: 25px;
    margin-top: 40px;
}
/*  */

.stage{
    display: block;
    width: 1200px;
    height: 450px;
    margin: 0 auto;
}

/* */

.topic{
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 653px;
    justify-content: center;
}
h3{
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 30px;
    font-family: ArchyEDT-Bold;
    color: #707070;
}
p{
    font-size: 18px;
    font-family: ArchyEDT-Thin;
    color: #707070;
}
.wrapper{
    width: 1200px;
    margin: 0 auto;
    justify-content: space-between;
}
.pics{
    width: 350px;
}
.more{
    margin-top: 90px;
    margin-left: auto;
    color: #707070;
    font-family: ArchyEDT-Bold;

}
h2{
    font-size: 40px;
    font-family: ArchyEDT-Bold;
    margin: 0 auto;
    margin-top: 144px;
    width: 1200px;
    color: #707070
}

 .load{
    font-size: 30px;
    font-family: ArchyEDT-Bold;
    border-bottom: 1px solid #707070;
    color: #707070;
    margin: 0 auto;
    display: table;
}
.contact{
    display: flex;
    flex-direction: column;
    color: #F2F2F2;

}
.address{
    display: flex;
    flex-direction: column;
    color: #F2F2F2;
}
.contact-two{
    font-size: 20px;
    font-family: ArchyEDT-Bold;
}
.address{
    font-size: 20px;
    font-family: ArchyEDT-Bold;
}
.same{
    font-size: 13px;
    font-family: font-size: 20px;
    font-family: ArchyEDT-Thin;
}
.box{
    align-items: center;
    height: 204px;

}
footer{
    background-color: #2E2E2E;
}